.navbar {
	background-color: var(--orange);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	width: auto;
}

.navbar__start, .navbar__end {
	display: flex;
	gap: 10px;
}

.navbar__btn {
	border: solid 1px white;
	border-radius: 5px;
	background-color: transparent;
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: white;
	display: flex;
	align-items: center;
	gap: 3px;
	transition: 0.6s;
}

.navbar__btn:hover {
	background-color: var(--blue);
	border-color: var(--blue);
	cursor: pointer;
}

